<!DOCTYPE html>
<html>
	<head>
        {% load static %}
		<meta charset="zh">
		<title>个人中心--用户信息管理</title>
		<link href="{% static 'mall/css/app/style.css' %}" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{% static 'js/lib/jquery2.2.4/jquery-2.2.4.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/app/tab.js '%}"></script>
		<link rel="stylesheet" href="{% static 'js/lib/bootstrap-3.3.7-dist/css/bootstrap.css '%}">

		<script src="{% static 'js/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js '%}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/app/yangshi.css '%}" />
	</head>
	<body style="background-color: #f5f5f5;">
		<div class="container" style="margin-top: 10px;">
			<div class=" col-lg-offset-2 col-md-8">
				<div style="margin-bottom: 30px;">
					<h3 style="display: inline-block;" ><a id="back_personal" href="javascript:void(0);">个人信息</a></h3>
                    <div class="other" style="float: right;padding-top: 30px;">
                        <a  href="{% url 'mall:personal' %}" style="font-weight: 600;">个人中心</a>
                        <a  href="{% url 'mall:changeheader' %}">修改头像</a>
                        <a  href="{% url 'mall:changepwd' %}">修改密码</a>
					    <a  href="{% url 'mall:user_logout' %}">退出</a>
                    </div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-lg-offset-2 col-md-3">
						<div class="panel">
							<div class="panel-body">
								<ul class="nav text-center" role="tablist">
									<img src="/{{userA.header}}" style="height: 122px;width: 122px; margin-bottom: 30px;margin-top: 30px;" alt="..." class="img-circle tt_img">
									<h4>{{user.username}}</h4>
									<!--<h5>编号</h5>-->
									<!--<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">查看信息</a></li>-->
									<!--<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">修改信息</a></li>-->
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel">
							<div class="panel-body">
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="home">
                                        <div class="xiugai" style="float: right;margin-right: -20px;margin-top: -30px;">
                                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" title="修改个人信息"><img src="{% static 'mall/images/笔.png' %}" width="50"></a>
                                        </div>
                                        <p class="text-center">{{msg}}</p>
										<div class="aui-flex b-line">
											<div class="aui-invoice-name">用户名</div>
											<div class="aui-flex-box">
												<input readonly="readonly" type="text" value="{{user.username}}">
											</div>
										</div>
										<div class="aui-flex b-line">
											<div class="aui-invoice-name">性别</div>
											<div class="aui-flex-box">
                                                {% if userA.gender == "0" %}
												    <input readonly="readonly" type="text" value="保密">
                                                {% elif userA.gender == "1" %}
                                                    <input readonly="readonly" type="text" value="男生">
                                                {% elif userA.gender == "2" %}
                                                    <input readonly="readonly" type="text" value="女生">
                                                {% endif %}
											</div>
										</div>
										<div class="aui-flex b-line">
											<div class="aui-invoice-name">年龄</div>
											<div class="aui-flex-box">
                                                {% if userA.age == 1 %}
												    <input readonly="readonly" type="text" value="暂未设置" >
                                                {% else %}
                                                    <input readonly="readonly" type="text" value="{{userA.age}}">
                                                {% endif %}
											</div>
										</div>
										<div class="aui-flex b-line">
											<div class="aui-invoice-name">电话号码</div>
											<div class="aui-flex-box">
												<input readonly="readonly" type="text" value="{{userA.phone}}">
											</div>
										</div>
										<div class="aui-flex b-line">
											<div class="aui-invoice-name">地址</div>
											<div class="aui-flex-box">
                                                {% if userA.add == "" %}
												    <input readonly="readonly" type="text" value="暂未设置">
                                                {% else %}
                                                    <input readonly="readonly" type="text" value="{{userA.add}}">
                                                {% endif %}
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="profile">
                                        <div class="xiugai" style="float: right;margin-right: -10px;margin-top: -20px;">
                                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab" title="查看个人信息"><img src="{% static 'mall/images/简历.png' %}" width="39"></a>
                                        </div>
                                        <form method="post" action="{% url 'mall:changeinfo' %}">
                                            {% csrf_token %}
										<div class="aui-flex b-line">
											<div class="aui-invoice-name">用户名</div>
											<div class="aui-flex-box">
												<input readonly="readonly" type="text" value="{{user.username}}">
											</div>
										</div>
										<div class="aui-flex b-line">
											<div class="aui-invoice-name">性别</div>
											<div class="aui-flex-box">
												<select id="gender" name="gender" style="font-size:20px;" class="btn btn-default">
													<option value ="0">请修改</option>
													<option value ="0">保密</option>
													<option value="1">男生</option>
													<option value="2">女生</option>
												</select>
											</div>
										</div>
										<div class="aui-flex b-line">
											<div class="aui-invoice-name">年龄</div>
											<div class="aui-flex-box">
												{% if userA.age == 1 %}
												    <input type="text" id="age" name="age" placeholder="暂未设置" >
                                                {% else %}
                                                    <input type="text" id="age"  name="age" placeholder="{{userA.age}}">
                                                {% endif %}
											</div>
										</div>
										<div class="aui-flex b-line">
											<div class="aui-invoice-name">电话号码</div>
											<div class="aui-flex-box">
												<input id="phone" name="phone" type="text" placeholder="{{userA.phone}}">
											</div>
										</div>

										<div class="aui-flex b-line">
											<div class="aui-invoice-name">地址</div>
											<div class="aui-flex-box">
												{% if userA.add == "" %}
												    <input type="text" id="add" name="add" placeholder="暂未设置">
                                                {% else %}
                                                    <input type="text" id="add" name="add" placeholder="{{userA.add}}">
                                                {% endif %}
											</div>
										</div>
                                            <p class="text-center" id="msg"></p>
										<div class="aui-flex b-line">
											<div class="aui-invoice-name"></div>
											<div class="aui-flex-box">
												<!-- <input type="text" placeholder="您的收货地址"> -->
												<button style="height: 40px;width: 70px;" class="btn btn-danger" onclick="xiugai_xinxi()" type="submit" id="sub_btn" disabled>保存</button>
												<button style="height: 40px;width: 70px;" class="btn btn-default" type="reset">重置</button>
											</div>
										</div>
                                            </form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script type="text/javascript">

			// function xiugai_xinxi(){
			//     	gender = $("#gender").val()
			//     	age = $("#age").val()
			//     	phone = $("#phone").val()
			//     	add = $("#add").val()
			// 		console.info(gender)
			// 		console.info(age)
			// 		console.info(phone)
			// 		console.info(add)
			// 		$.ajax({
			// 			url: "/mall/changeinfo/",
			//             method: "POST",
			//             data: {"gender": gender, "age": age, "phone":phone, "add":add, "csrfmiddlewaretoken":"{{ csrf_token }}"},
			//             dataType: "json",
			//             success: function (data) {
			//                 if (data.success) {
			//                     $("#msg1").html(data.msg1)
			//                     $("#gender").val("")
			// 					$("#age").val("")
			// 					$("#phone").val("")
			// 					$("#add").val("")
			//                     ue.setContent("")
			//                     //演示前端跳转页面
			//                     window.location.pathname = "/blog/index/"
            //
            //
			//                 } else {
			//                     $("#msg1").html("信息修改失败！！！")
			//                 }
			//             }
			// 		})
			//     }




			$(function () {
					$("#phone").on("blur",function () {
					    phone = $(this).val()
                        console.log(phone)

					// content = $(this).UE.getContent()
					if (phone.length < 1 ) {
					    $("#sub_btn").attr("disabled", true)
                        $("#msg").html("手机号码不能为空")
					}
					else if(phone.length < 11) {
					    $("#sub_btn").attr("disabled", true)
                        $("#msg").html("手机号码应为11位")
					}
					else if(phone.length == 11) {
					    $("#sub_btn").removeAttr("disabled")
                        $("#msg").html("请继续输入")
					}
						})
				})


				$(function () {
						$("#age").on("blur",function () {
								age = $(this).val()
						// content = $(this).UE.getContent()
						if (age.length < 1 ) {
						    $("#sub_btn").attr("disabled", true)
                            $("#msg").html("请填写年龄")
						}else if(1>age>120) {
						    $("#sub_btn").attr("disabled", true)
                            $("#msg").html("请输入正确的年龄")
						}else if(age < 1) {
						    $("#sub_btn").attr("disabled", true)
                            $("#msg").html("请输入正确的年龄")
                        }
						else{
						    $("#sub_btn").removeAttr("disabled")
							$("#msg").html("年龄合法")
						}
							})
					})

			$(function () {
					$("#add").on("blur",function () {
							add = $(this).val()
					// content = $(this).UE.getContent()
					if (add.length < 1 ) {
					    $("#sub_btn").attr("disabled", true)
                        $("#msg").html("地址不能为空")
					}else{
					    $("#sub_btn").removeAttr("disabled")
					    $("#msg").html("请保存信息")
                    }
						})
				})
		</script>
	</body>
</html>
