<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>my_cart</title>
    <!--<link rel="stylesheet" href="/static/js/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{% static 'js/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mall' %}">
</head>
<body>
    <div class="container-fluid">
        <!--标头-->
        <div class="container">
            <!--图标-->
            <img src="">

            <div>
                <h2>我的购物车</h2>
                <p>温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算</p>
            </div>

            <div>
                <a href="">
                    <span>名称</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>