{% extends 'base.html' %}
{% load static %}

{% block title %}个人中心{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/app/yangshi.css' %}"/>
{% endblock %}
{% block baner %}
{% endblock %}


{% block main %}

{% load static %}
<div class="big-box"  style="background-color: #f1f1f1;padding:50px 0;">
<div class="container">
			<div class="row">
				<div class="tt_o">
					<a href="">首页</a>
					<small>></small>
					<small>个人中心</small>
				</div>
				<div class="col-md-3">
					<div class="panel">
						<div >
							<div class="">
								<div class="text-center ">
									<h4>订单中心</h4>
								</div>
								<ul class="nav text-center" role="tablist">
									<li role="presentation"><a href="#" >我的订单</a></li>
									<li role="presentation"><a href="#"  >评价晒单</a></li>
								</ul>
							</div>
							<div class="">
								<div class="text-center ">
									<h4>个人中心</h4>
								</div>
								<ul class="nav text-center" role="tablist">
									<li role="presentation" class="active"><a href="#wdzx" aria-controls="wdzx" role="tab" data-toggle="tab">我的个人中心</a></li>
									<li role="presentation"><a href="#xxtz" aria-controls="xxtz" role="tab" data-toggle="tab">消息通知</a></li>
									<li role="presentation"><a href="#xjzh" aria-controls="xjzh" role="tab" data-toggle="tab">现金账户</a></li>
									<li role="presentation"><a href="#xhsp" aria-controls="xhsp" role="tab" data-toggle="tab">喜欢商品</a></li>
									<li role="presentation"><a href="#shdz" aria-controls="shdz" role="tab" data-toggle="tab">收货地址</a></li>
								</ul>
							</div>
							<div class="">
								<div class="text-center ">
									<h4>服务中心</h4>
								</div>
								<ul class="nav text-center" role="tablist">
									<li role="presentation"><a href="{% url 'mall:services' %}">服务记录</a></li>
									<li role="presentation"><a href="#" >服务电话</a></li>
								</ul>
							</div>
							<div class="">
								<div class="text-center ">
									<h4>账户管理</h4>
								</div>
								<ul class="nav text-center" role="tablist">
									<li role="presentation" ><a href="{% url 'mall:changeinfo' %}">个人信息</a></li>
									<li role="presentation"><a href="{% url 'mall:changepwd' %}" >修改密码</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="panel">
						<div class="panel-body">
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="wdzx">
									<div class="col-md-6" style="margin-top: 30px;margin-bottom: 30px;">
										<div class="col-md-5">
											<img src="/{{userA.header}}" class="img-circle tt_img">
										</div>
                                        <div class="col-md-6">
											<div>
												<h2>{{user.username}}</h2>
												<!--根据时间判定输出话语：早，中，下，晚上好-->
												<a href="javascript:void(0);">晚上好</a>
											</div>
											<div style="padding-top: 10px;">
												<a style="color: orangered;" href="{% url 'mall:changeinfo' %}">修改个人信息></a>
											</div>
										</div>
									</div>
									<div class="col-md-4" style="margin-top: 50px;">
										<div>
											<p>账号安全:<span style="color: orangered">普通</span></p>
										</div>
										<div>
											<p>绑定手机: <span>{{userA.phone}}</span></p>
										</div>
										<div>
											<p>绑定邮箱: <span><a style="color: orangered;" href="">未绑定</a></span></p>
										</div>
									</div>

									<div class="col-md-12">
										<div class="panel-body tt_x"></div>
										<div class="co-md-5 ">
											<div class="col-md-6" style="margin-top: 30px;margin-bottom: 30px;">
												<div class="col-md-5">
													<img src="https://s01.mifile.cn/i/user/portal-icon-1.png"  alt="..." class="img-circle tt_img">
												</div>
												<div class="col-md-6">
													<div class="tt_w">
														<span>待支付订单：0</span>
													</div>
													<div style="padding-top: 10px;">
														<a style="color: orangered;" href="">查看待支付订单></a>
													</div>
												</div>
											</div>
										</div>
										<div class="co-md-5 ">
											<div class="col-md-6" style="margin-top: 30px;margin-bottom: 30px;">
												<div class="col-md-5">
													<img src="https://s01.mifile.cn/i/user/portal-icon-2.png"  alt="..." class="img-circle tt_img">
												</div>
												<div class="col-md-6">
													<div class="tt_w">
														<span>待收货的订单：0</span>
													</div>
													<div style="padding-top: 10px;">
														<a style="color: orangered;" href="">查看待收货订单></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="co-md-5 ">
											<div class="col-md-6" style="margin-top: 30px;margin-bottom: 30px;">
												<div class="col-md-5">
													<img src="https://s01.mifile.cn/i/user/portal-icon-3.png"  alt="..." class="img-circle tt_img">
												</div>
												<div class="col-md-6">
													<div class="tt_w">
														<span>带评价商品数：0</span>
													</div>
													<div style="padding-top: 10px;">
														<a style="color: orangered;" href="">查看待评价商品></a>
													</div>
												</div>
											</div>
										</div>
										<div class="co-md-5 ">
											<div class="col-md-6" style="margin-top: 30px;margin-bottom: 30px;">
												<div class="col-md-5">
													<img src="https://s01.mifile.cn/i/user/portal-icon-4.png"  alt="..." class="img-circle tt_img">
												</div>
												<div class="col-md-6">
													<div class="tt_w">
														<span>喜欢商品：0</span>
													</div>
													<div style="padding-top: 10px;">
														<a style="color: orangered;" href="">查看喜欢商品></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="xxtz">
									<div class="tt_a">
										<h1>消息通知</h1>
									</div>
									<div class="col-md-8">
										<ul class="nav tt_m" role="tablist">
											<li role="presentation" class="active"><a href="#qbxx" aria-controls="qbxx" role="tab" data-toggle="tab">全部消息</a></li>
											<li role="presentation"><a href="#wldt" aria-controls="wldt" role="tab" data-toggle="tab">物流动态</a></li>
											<li role="presentation"><a href="#thhd" aria-controls="thhd" role="tab" data-toggle="tab">特惠活动</a></li>
										</ul>
									</div>
									<div class="col-md-12">
										<div class="tab-content">
											<div role="tabpanel" class="tab-pane active" id="qbxx"><h1 class="text-center">暂无数据</h1></div>
											<div role="tabpanel" class="tab-pane" id="wldt"><h1 class="text-center">暂无数据</h1></div>
											<div role="tabpanel" class="tab-pane" id="thhd"><h1 class="text-center">暂无数据</h1></div>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="xjzh">
									<div class="tt_a">
										<h1>现金账户</h1>
									</div>
									<div>
										<h4 class="text-center">暂未开通</h4>

									</div>
									<div>
										<h3 style="padding-right: 130px;" class="navbar-right"><a style="color: orangered;" href="">前往开通</a></h3>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="xhsp">
									<div class="tt_a">
										<h1>喜欢的商品</h1>
									</div>
									<div>
										<h4 style="color: #757575;" class="text-center">您暂未收藏任何商品</h4>
									</div>

								</div>
								<div role="tabpanel" class="tab-pane" id="shdz">
									<div class="tt_a">
										<h1>收货地址</h1>
									</div>
									<div>
										<h4 style="color: #757575;" class="text-center">您暂未收藏任何商品</h4>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
</div>
{% endblock %}


