/*body{*/
	/**/
	/*background-color: #f5f5f5;*/
/*}*/


.tt_a{
	padding-top: 10px;
	color:#757575 ;
}

a{
	color:#757575;
}

.tt_a h1{
	padding-left: 30px;
	display: inline-block;
}

#back_personal{
    color: #f54b07;
}
#back_personal:hover{
    text-decoration: none;
}
.other>a{
    display: inline-block;
    width: 60px;
    height: 18px;
    margin-left: 15px;
}

.tt_m {
	padding-top:10px;
	padding-left:20px;
}


.tt_m li{
	float: left;
}


.tt_m li a{
	font-size: 20px;
}


.tt_img{
	height: 133px;
	width: 133px;

}


.tt_x{
	border-bottom: #757575 1px ridge;
}


.tt_w{
	padding-top: 20px;
}


.tt_w a{
	font-size: 18px;
}


.tt_o{
	margin-left: 20px;
	margin-bottom: 10px;
	color:#757575 ;
    margin-top: 20px;
}
.active>a{
    color: #f54b07;
}